In [1]:
import pandas as pd
import numpy as np

In [2]:
best_individual = [
    [['Break', 'Break', 'Break', 'Break', 'Break', 'Break', 'Break', 'Break'], 
     ['Subject_2', 'Subject_2', 'Subject_2', 'Break', 'Subject_2', 'Subject_2', 'Subject_2', 'Subject_2'], 
     ['Subject_9', 'Subject_9', 'Subject_9', 'Subject_9', 'Subject_2', 'Subject_2', 'Subject_9', 'Subject_9'], 
     ['Subject_9', 'Subject_30', 'Subject_9', 'Break', 'Break', 'Subject_9', 'Subject_30', 'Subject_9'], 
     ['Subject_30', 'Subject_30', 'Subject_30', 'Break', 'Subject_30', 'Subject_30', 'Subject_30', 'Subject_30']],
    [['Subject_6', 'Subject_6', 'Subject_6', 'Break', 'Subject_6', 'Subject_6', 'Subject_6', 'Subject_6'], 
     ['Subject_29', 'Subject_29', 'Subject_29', 'Subject_29', 'Break', 'Subject_29', 'Subject_29', 'Subject_29'], 
     ['Subject_6', 'Subject_6', 'Subject_6', 'Subject_29', 'Break', 'Subject_29', 'Subject_6', 'Subject_6'], 
     ['Subject_6', 'Subject_9', 'Subject_6', 'Subject_9', 'Break', 'Subject_6', 'Subject_6', 'Subject_6'], 
     ['Subject_9', 'Subject_9', 'Subject_9', 'Break', 'Subject_9', 'Subject_9', 'Subject_9', 'Subject_9']],
    [['Subject_20', 'Subject_20', 'Subject_20', 'Subject_20', 'Subject_20', 'Subject_20', 'Subject_20', 'Subject_20'], 
     ['Subject_4', 'Subject_4', 'Subject_4', 'Subject_4', 'Break', 'Subject_4', 'Subject_23', 'Subject_4'], 
     ['Subject_23', 'Subject_23', 'Subject_29', 'Break', 'Subject_23', 'Subject_23', 'Subject_29', 'Subject_23'], 
     ['Subject_4', 'Subject_4', 'Subject_23', 'Subject_23', 'Break', 'Subject_4', 'Subject_4', 'Subject_4'], 
     ['Subject_29', 'Subject_23', 'Subject_29', 'Subject_29', 'Break', 'Subject_29', 'Subject_29', 'Subject_29']],
    [['Subject_17', 'Subject_17', 'Subject_17', 'Subject_17', 'Subject_17', 'Subject_17', 'Subject_17', 'Subject_17'], 
     ['Subject_7', 'Subject_7', 'Subject_7', 'Subject_7', 'Break', 'Subject_7', 'Subject_7', 'Subject_7'], 
     ['Subject_12', 'Subject_12', 'Subject_12', 'Subject_12', 'Break', 'Subject_12', 'Subject_12', 'Subject_12'], 
     ['Subject_7', 'Subject_12', 'Subject_12', 'Subject_12', 'Subject_12', 'Subject_12', 'Subject_7', 'Subject_7'], 
     ['Subject_10', 'Subject_10', 'Subject_10', 'Subject_10', 'Subject_10', 'Subject_10', 'Subject_10', 'Subject_10']],
    [['Subject_15', 'Subject_7', 'Subject_7', 'Subject_7', 'Subject_15', 'Subject_7', 'Subject_15', 'Break'], 
     ['Subject_20', 'Subject_20', 'Subject_20', 'Subject_20', 'Break', 'Subject_20', 'Subject_20', 'Subject_20'], 
     ['Subject_7', 'Subject_7', 'Subject_7', 'Subject_7', 'Break', 'Subject_7', 'Subject_7', 'Subject_7'], 
     ['Subject_20', 'Subject_20', 'Subject_20', 'Break', 'Break', 'Subject_20', 'Subject_20', 'Subject_20'], 
     ['Subject_15', 'Subject_15', 'Subject_15', 'Subject_15', 'Break', 'Subject_15', 'Subject_15', 'Subject_7']],
    [['Subject_13', 'Subject_13', 'Subject_13', 'Break', 'Subject_13', 'Subject_13', 'Subject_13', 'Subject_13'], 
     ['Subject_14', 'Subject_14', 'Subject_14', 'Break', 'Subject_14', 'Subject_14', 'Subject_14', 'Subject_14'], 
     ['Subject_15', 'Subject_15', 'Subject_15', 'Break', 'Subject_15', 'Subject_15', 'Subject_15', 'Subject_15'], 
     ['Subject_14', 'Subject_14', 'Subject_15', 'Break', 'Break', 'Subject_15', 'Subject_15', 'Subject_14'], 
     ['Subject_13', 'Subject_13', 'Subject_13', 'Break', 'Subject_13', 'Subject_13', 'Subject_13', 'Subject_13']],
    [['Subject_29', 'Subject_29', 'Subject_29', 'Subject_29', 'Subject_29', 'Subject_29', 'Subject_29', 'Break'], 
     ['Break', 'Break', 'Break', 'Break', 'Subject_29', 'Break', 'Break', 'Break'], 
     ['Subject_21', 'Subject_21', 'Subject_21', 'Break', 'Subject_21', 'Subject_21', 'Subject_21', 'Subject_21'], 
     ['Subject_21', 'Subject_22', 'Subject_21', 'Subject_21', 'Break', 'Subject_21', 'Subject_21', 'Subject_21'], 
     ['Subject_22', 'Subject_22', 'Subject_22', 'Break', 'Subject_22', 'Subject_22', 'Subject_22', 'Subject_22']],
    [['Subject_10', 'Subject_3', 'Subject_1', 'Break', 'Break', 'Subject_1', 'Subject_10', 'Subject_10'], 
     ['Subject_1', 'Subject_1', 'Subject_1', 'Subject_1', 'Break', 'Subject_1', 'Subject_1', 'Subject_1'], 
     ['Subject_17', 'Subject_17', 'Subject_17', 'Subject_17', 'Subject_3', 'Subject_17', 'Subject_17', 'Subject_17'], 
     ['Subject_10', 'Subject_10', 'Subject_10', 'Subject_10', 'Break', 'Subject_10', 'Subject_10', 'Subject_10'], 
     ['Subject_3', 'Subject_3', 'Subject_3', 'Break', 'Subject_3', 'Subject_17', 'Subject_3', 'Subject_3']],
    [['Subject_22', 'Subject_22', 'Subject_22', 'Break', 'Break', 'Subject_22', 'Subject_22', 'Subject_22'], 
     ['Subject_22', 'Subject_21', 'Subject_21', 'Break', 'Subject_22', 'Subject_21', 'Subject_21', 'Subject_21'], 
     ['Subject_22', 'Subject_22', 'Subject_22', 'Break', 'Subject_22', 'Subject_22', 'Subject_22', 'Subject_22'], 
     ['Subject_2', 'Subject_2', 'Subject_2', 'Break', 'Subject_2', 'Subject_2', 'Subject_2', 'Subject_2'], 
     ['Subject_21', 'Subject_21', 'Subject_2', 'Subject_21', 'Subject_2', 'Subject_2', 'Subject_21', 'Subject_2']],
    [['Subject_16', 'Subject_16', 'Subject_16', 'Subject_16', 'Break', 'Subject_16', 'Subject_16', 'Subject_16'], 
     ['Subject_8', 'Subject_17', 'Subject_17', 'Break', 'Subject_17', 'Subject_8', 'Subject_17', 'Subject_8'], 
     ['Subject_8', 'Subject_8', 'Subject_8', 'Break', 'Break', 'Subject_8', 'Subject_8', 'Subject_8'], 
     ['Subject_8', 'Subject_8', 'Subject_17', 'Break', 'Subject_8', 'Subject_17', 'Subject_16', 'Subject_17'], 
     ['Subject_17', 'Subject_17', 'Subject_17', 'Break', 'Subject_16', 'Subject_16', 'Subject_17', 'Subject_17']]
]

# Create dataframe where each Row is a Turn and each Column is a Block - from Monday_Block1 to Friday_Block8

In [3]:
# Combine the blocks for each day into a single row
combined_data = [sum(day, []) for day in best_individual]

# Define the column names
days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]
columns = [f"{day}_Block{i+1}" for day in days for i in range(8)]

# Create the DataFrame
df = pd.DataFrame(combined_data, columns=columns)

In [4]:
df.shape

(10, 40)

In [5]:
df.head(10)

,Monday_Block1,Monday_Block2,Monday_Block3,Monday_Block4,Monday_Block5,Monday_Block6,Monday_Block7,Monday_Block8,Tuesday_Block1,Tuesday_Block2,...,Thursday_Block7,Thursday_Block8,Friday_Block1,Friday_Block2,Friday_Block3,Friday_Block4,Friday_Block5,Friday_Block6,Friday_Block7,Friday_Block8
0,Break,Break,Break,Break,Break,Break,Break,Break,Subject_2,Subject_2,...,Subject_30,Subject_9,Subject_30,Subject_30,Subject_30,Break,Subject_30,Subject_30,Subject_30,Subject_30
1,Subject_6,Subject_6,Subject_6,Break,Subject_6,Subject_6,Subject_6,Subject_6,Subject_29,Subject_29,...,Subject_6,Subject_6,Subject_9,Subject_9,Subject_9,Break,Subject_9,Subject_9,Subject_9,Subject_9
2,Subject_20,Subject_20,Subject_20,Subject_20,Subject_20,Subject_20,Subject_20,Subject_20,Subject_4,Subject_4,...,Subject_4,Subject_4,Subject_29,Subject_23,Subject_29,Subject_29,Break,Subject_29,Subject_29,Subject_29
3,Subject_17,Subject_17,Subject_17,Subject_17,Subject_17,Subject_17,Subject_17,Subject_17,Subject_7,Subject_7,...,Subject_7,Subject_7,Subject_10,Subject_10,Subject_10,Subject_10,Subject_10,Subject_10,Subject_10,Subject_10
4,Subject_15,Subject_7,Subject_7,Subject_7,Subject_15,Subject_7,Subject_15,Break,Subject_20,Subject_20,...,Subject_20,Subject_20,Subject_15,Subject_15,Subject_15,Subject_15,Break,Subject_15,Subject_15,Subject_7
5,Subject_13,Subject_13,Subject_13,Break,Subject_13,Subject_13,Subject_13,Subject_13,Subject_14,Subject_14,...,Subject_15,Subject_14,Subject_13,Subject_13,Subject_13,Break,Subject_13,Subject_13,Subject_13,Subject_13
6,Subject_29,Subject_29,Subject_29,Subject_29,Subject_29,Subject_29,Subject_29,Break,Break,Break,...,Subject_21,Subject_21,Subject_22,Subject_22,Subject_22,Break,Subject_22,Subject_22,Subject_22,Subject_22
7,Subject_10,Subject_3,Subject_1,Break,Break,Subject_1,Subject_10,Subject_10,Subject_1,Subject_1,...,Subject_10,Subject_10,Subject_3,Subject_3,Subject_3,Break,Subject_3,Subject_17,Subject_3,Subject_3
8,Subject_22,Subject_22,Subject_22,Break,Break,Subject_22,Subject_22,Subject_22,Subject_22,Subject_21,...,Subject_2,Subject_2,Subject_21,Subject_21,Subject_2,Subject_21,Subject_2,Subject_2,Subject_21,Subject_2
9,Subject_16,Subject_16,Subject_16,Subject_16,Break,Subject_16,Subject_16,Subject_16,Subject_8,Subject_17,...,Subject_16,Subject_17,Subject_17,Subject_17,Subject_17,Break,Subject_16,Subject_16,Subject_17,Subject_17

In [6]:
#df.to_excel("best_individual.xlsx", index= True)

# Count of Blocks per Subject for each Turn, and Breaks

In [7]:
# List of unique subjects including 'Break'
unique_subjects = set()
for turn in combined_data:
    unique_subjects.update(turn)

# Count the occurrences of each subject in each Turn
subject_counts = []
for turn in combined_data:
    turn_count = {subject: turn.count(subject) for subject in unique_subjects}
    subject_counts.append(turn_count)

# Display the counts in a readable format
subject_counts_df = pd.DataFrame(subject_counts)
subject_counts_df = subject_counts_df.fillna(0).astype(int)

In [8]:
subject_counts_df

,Subject_4,Subject_16,Subject_1,Subject_10,Subject_21,Subject_3,Subject_20,Subject_14,Subject_22,Subject_17,...,Subject_29,Subject_7,Subject_6,Subject_12,Subject_30,Subject_13,Subject_15,Subject_2,Subject_9,Break
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,9,0,0,9,10,12
1,0,0,0,0,0,0,0,0,0,0,...,9,0,17,0,0,0,0,0,9,5
2,11,0,0,0,0,0,8,0,0,0,...,8,0,0,0,0,0,0,0,0,4
3,0,0,0,8,0,0,0,0,0,8,...,0,10,0,12,0,0,0,0,0,2
4,0,0,0,0,0,0,13,0,0,0,...,0,12,0,0,0,0,9,0,0,6
5,0,0,0,0,0,0,0,10,0,0,...,0,0,0,0,0,14,10,0,0,6
6,0,0,0,0,13,0,0,0,8,0,...,8,0,0,0,0,0,0,0,0,11
7,0,0,9,10,0,8,0,0,0,8,...,0,0,0,0,0,0,0,0,0,5
8,0,0,0,0,9,0,0,0,15,0,...,0,0,0,0,0,0,0,11,0,5
9,0,10,0,0,0,0,0,0,0,12,...,0,0,0,0,0,0,0,0,0,6

# Days without Breaks for each Turn

In [9]:
# Define a function to count the number of days without 'Break' for each turn
def count_days_without_break(turn):
    days_without_break = 0
    for i in range(0, 40, 8):  # Iterate through each day (8 blocks)
        if 'Break' not in turn[i:i+8]:
            days_without_break += 1
    return days_without_break

# Apply the function to each turn and store the results
days_without_break_counts = [count_days_without_break(turn) for turn in combined_data]

# Display the results
days_without_break_counts

[1, 0, 1, 3, 0, 0, 0, 1, 1, 0]

# Overlaps

In [10]:
overlaps = {}
for col in df.columns:
    value_counts = df[col].value_counts()
    for value, count in value_counts.items():
        if value != "Break" and count > 1:
            if col not in overlaps:
                overlaps[col] = []
            overlaps[col].append(value)

# Display the overlaps
overlaps

{}

There are no overlaps in our individual!